<nav class="navbar navbar-inverse navbar-static-top" data-ng-controller="HeaderController">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">VOTE Jagged</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active:current('/poll')}"><a href="#/polls">Polls</a></li>
                <li ng-class="{active:current('/result')}"><a href="#/results">Results</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</nav>
